# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Environment
.env
.venv/
venv/
env/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Outputs
outputs/logs/
outputs/export/
outputs/failed/
outputs/export_files_*/